@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');
body{
    background: #2d2d2d;
    background-size:cover;
    background-position: center
}
/*-main_para ambos index-*/
main{
    background-color:#F2D14F;
    width: 920px;
    margin:auto;
}
/*--header para ambos index--*/
h1{
    z-index: 2;
    color:white;
    background: linear-gradient(to bottom, #25241D, #474539 100%);
    font-family: 'Fredoka One', cursive;
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
/*--article 1 index 1--*/
.article-1 h2{
    float: left;
    z-index: 1;
    color:white;
    font-family: 'Bree Serif','Permanent Marker', cursive;
    text-align: center;
    font-size: 35px;
    background-color: #25241D;
    width: 180px;/*--190 en total--*/
    padding: 4px;
    border-width:6px;
    border-color: white;
    border-style:double;
    border-radius: 15px;
    margin-bottom: 5px;
    margin-left: 135px;
    margin-right: 135px;
    margin-top: 10px;
}
.article-1 p{
    float: left;
    z-index: 1;
    color:000;
    background-color:#EF5719;
    font-family: 'Fredoka One', cursive;
    width: 360px;
    padding: 14px;
    border-width: 6px;
    border-color:#000000;
    border-style: dashed;
    border-radius: 0px;
    margin-left: 30px;
    margin-right: 30px;
}
.article-1 img{
    float:left;
    z-index: 1;
    width: 373px;
    border-width: 7px;
    border-color:#25241D;
    border-style: solid;
    margin-left: 36px;
    margin-right: 37px;
    margin-top: -73px;
}
/*--article-2--*/
.article-2 h2{
    float: left;
    z-index: 1;
    color:white;
    font-family: 'Bree Serif','Permanent Marker', cursive;
    text-align: center;
    font-size: 35px;
    background-color: #25241D;
    width: 140px;/*--190 en total--*/
    padding: 4px;
    border-width:6px;
    border-color: white;
    border-style:double;
    border-radius: 15px;
    margin-bottom: 0px;
    margin-left: 380px;
    margin-right: 380px;
    margin-top: 20px;
}
.article-2 p{
    float: left;
    z-index: 1;
    color:000;
    background-color:#EF5719;
    font-family: 'Fredoka One', cursive;
    width: 800px;
    padding: 14px;
    border-width: 6px;
    border-color:#000000;
    border-style: dashed;
    margin-bottom: 20px;
    margin-top:20px;
    margin-left: 40px;
    margin-right: 40px;
}
.article-2 img{
    z-index: 1;
    width: 829px;
    border-width: 7px;
    border-color:#25241D;
    border-style: solid;
    margin-left: 39px;
    margin-right: 39px;
}
/*--aca termina el index 1--*/
/*---caja naranja---*/
.article_1{
    background-color: #f2ad1a;
    border-radius: 15px;
    width: 450px;
    height: 415px;
    margin-left: 235px;
    margin-right: 235px;
}
.article_1 h2{
    float: left;
    z-index: 1;
    color:white;
    font-family: 'Bree Serif','Permanent Marker', cursive;
    text-align: center;
    font-size: 35px;
    background-color: #25241D;
    width: 190px;/*--200 en total--*/
    height: 50px;
    padding: 4px;
    border-width:6px;
    border-color: white;
    border-style:double;
    border-radius: 15px;
    margin-bottom: 25px;
    margin-left: 120px;
    margin-right:120px;
    margin-top: 25px;
}
table{
    float: left;
    z-index: 1;
    background-color: black;
    font-family: 'Fredoka One', cursive;
    width: 400px;
    border-radius: 5px;
    height: 270px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    margin-top: 0px;
}
td,th{
  background-color: #efba4a;
  text-align: center;
}
/*---trailer---*/
.article_2{
    float: left;
}
.article_2 h2{
    z-index: 1;
    color:white;
    font-family: 'Bree Serif','Permanent Marker', cursive;
    text-align: center;
    font-size: 35px;
    background-color: #25241D;
    width: 140px;/*--150 en total--*/
    padding: 4px;
    border-width:6px;
    border-color: white;
    border-style:double;
    border-radius: 15px;
    margin-bottom: 20px;
    margin-left: 155px;
    margin-right: 155px;
    margin-top: 30px;
}
iframe{
    width:420px;
    height:200px;
    margin-left:15px;
    margin-right: 15px;
    border:10px solid;
    border-color: #8c5e04;
}
/*---datos extra---*/
.article_3 h2{
    float: left;
    z-index: 1;
    color:white;
    font-family: 'Bree Serif','Permanent Marker', cursive;
    text-align: center;
    font-size: 35px;
    background-color: #25241D;
    width: 190px;/*--200 en total--*/
    height: 50px;
    padding: 4px;
    border-width:6px;
    border-color: white;
    border-style:double;
    border-radius: 15px;
    margin-bottom: 25px;
    margin-left: 120px;
    margin-right:120px;
    margin-top: 30px;
}
/*---enlaces---*/
.enlaces{
    display: inline-block;
    float: left;
    font-family: 'Fredoka One', cursive;
    height: auto;
    margin-left:129px;
    margin-right: 129px;
}
.link{
    font-family: 'Fredoka One', cursive;
    font-size: 30px;
    text-decoration:;
    color:#c75126;
}
.link:hover{
    color: black;
}
li{
    margin-top: 10px;
    margin-bottom: 10px;
}
/*---comentarios---*/
.article_4 h2{
    float: left;
    z-index: 1;
    color:white;
    font-family: 'Bree Serif','Permanent Marker', cursive;
    text-align: center;
    font-size: 35px;
    background-color: #25241D;
    width: 200px;/*--210 en total--*/
    height: 50px;
    padding: 4px;
    border-width:6px;
    border-color: white;
    border-style:double;
    border-radius: 15px;
    margin-bottom: 25px;
    margin-left: 350px;
    margin-right:350px;
    margin-top: 30px;
}
textarea{
    color: black;
    background-color:white;
    border-width:2px;
    border-color: black;
    border-style:groove;
    padding: 5px;
    width: 883px;
    margin:10px;
}
button{
    display:block;
    float: left;
    font-family: 'Bree Serif','Permanent Marker', cursive;
    font-size: 20px;
    margin-left: 10px;
}

/*---footer---*/
.p-autor{
    font-family: 'Fredoka One', cursive;
    color: black;
    background: linear-gradient(to bottom, #99360f,#EF5719, #99360f 100%);
    padding:5px;
}
/*---boton de pagina siguiente/anterior*/
.enlace{
    color:black;
    font-family: 'Fredoka One', cursive;
    background-color: #5EC188;
    padding: 9px;
    text-decoration:none;
    color: black;
    border-width: 3px;
    border-color: black;
    border-style:solid;
    border-radius: 20px;
    position: fixed;
    top:630px;
    left:1095px;
}
.enlace:hover{
    background-color: #438c62;
    border-color: black;
    border-style: solid;
    border-radius: 20px;
}
.enlace:visited{
  color:black
}
.enlace-2{
    color:black;
    font-family: 'Fredoka One', cursive;
    background-color: #5EC188;
    padding: 9px;
    text-decoration:none;
    color: black;
    border-width: 3px;
    border-color: black;
    border-style:solid;
    border-radius: 20px;
    position: fixed;
    top:630px;
    right:1095px;
}
.enlace-2:hover{
    background-color: #438c62;
    border-color: black;
    border-style: solid;
    border-radius: 20px;
}
.enlace-2:visited{
    color:black
}
